* {
  margin:0;
  padding:0;
}

.App {
  background-color: rgba(241, 6, 6, 0.834);
  width: 100%;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: baseline;
}
.addTask {
  background-color: rgb(254, 251, 251);
  min-width: 270px;
  min-height: 150px;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 10px;
  margin-bottom: 10px;
  position: absolute;
  top: 10vw;
}


.list {
  position: absolute;
  width: 18vw;
  outline: none;
  font-size: 1vw;
  color: rgb(11, 11, 11);
  
  border-radius: 10px;
  top: 20vw;
  right: 41vw;
 
}
.list li{
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.list .task {
  text-align: center;
}

div#root {
  position: relative;
}

